[Desktop Entry]
Type=Application
Name=uim-gtk3
GenericName=Input Method
Comment=Start Input Method (Gtk3 version)
Exec=uim-autostart gtk3-systray
Icon=/usr/share/uim/pixmaps/uim-icon.png
Terminal=false
OnlyShowIn=GNOME;XFCE
NotShowIn=KDE
